 @keyframes text {
     0% {color: black;}
     20% {color: black;}
     40% {color:rgba(9, 128, 240, 0.788);}
     60% {color:rgba(9, 128, 240, 0.788);}
     80% {color:rgba(9, 128, 240, 0.788);}
     100% {color:rgba(9, 128, 240, 0.788);}
     
 }
 @keyframes login {
     0% {background-color: transparent;}
     20% {background-color: tomato;}
     40% {background-color: violet;}
     60% {background-color: blue;}
     80% {background-color: yellow;}
     100% {background-color: green;}
 }
 
 *{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
#top {
    background-image: url(https://i.pinimg.com/564x/50/47/bd/5047bd0a9635fe6d792a97f88de64358.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100em;
    
}
#titlelo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#titlelo h3 {
    animation-name:text;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#login1, #cadastro1 {
    width: 500px;
    height: 500px;
    color: blue;
    background-image: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
}
#footermo, #footermo a {
    background-image: url(https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg;)
}
#enviar {
    color: white;
    margin-bottom: 20px;
    margin-left: 60px;
    background-color: transparent;
    animation-name: login;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

section#top{
	background-color: #2a7ae4;
	height: 31em;
}
section#top nav{
	background-color: rgba(0, 198, 248, 0.6);
	height: 6.2em;
	padding: 1em;
}
header#nav2 nav{
	background-color: rgba(0, 198, 248, 0.61);
	height: 5em;
	padding:1em;
}
#logo {
    width: 9em;
    height: 2em;
    top: 5em;
}



#copyfo {
    display: flex;
    justify-content: center;
    
}
#copyg {
    background-color: rgba(4, 58, 71, 0.61);
}
#menu2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#parte3 {
    background-color: rgba(0, 198, 248, 0.61);
}
/* formatacao redes sociais */
div#social ul li{
	width: 32px; height: 32px;
	float: left;
	margin-right: 15px;
}
div#social ul li a{
	background-image: url(https://uploaddeimagens.com.br/images/003/569/274/original/sprite-social.png?1638561393);
	display: block;
	height: 100%;
	text-indent: -99999em;
}
div#social ul li:nth-child(1) a{background-position: 0 0;}
div#social ul li:nth-child(2) a{background-position: -32px 0;}
div#social ul li:nth-child(3) a{background-position: -64px 0;}
div#social ul li:nth-child(4) a{background-position: -96px 0;}
div#social ul li:nth-child(5) a{background-position: -128px 0;}

div#social ul li:nth-child(1) a:hover{background-position: 0 -32px;}
div#social ul li:nth-child(2) a:hover{background-position: -32px -32px;}
div#social ul li:nth-child(3) a:hover{background-position: -64px -32px;}
div#social ul li:nth-child(4) a:hover{background-position: -96px -32px;}
div#social ul li:nth-child(5) a:hover{background-position: -128px -32px;}
/* class */

#drinks {
    width: 500px;
    height: 400px;
}
#txt h5 {
    margin-top: 60px;
}
#modal1,#modal2,#modal3,#modal4 {
    width: 400px;
    height: 200px;
}

b {
    border: 1px solid black;
    display: inline-block;
    background-color: rgb(216, 216, 216);
}

#suporte {
    background-color: rgba(0, 198, 248, 0.61);
}

#titulo {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}